// COLORS

$color-primary: #4d4c89;
$color-secondary: #8a1847;
$color-secondary-shade: #3e021b;
$color-primary-shade: #373b52;

$color-primary-light: #5560a1;

$color-text: #fff;

//GREY COLORS
$pure-white: #ffffff;
$gray-light: #e5e5e5;

// TYPOGRAPHY

$main-font-family: 'Jacques Francois', sans-serif;
$secondary-font-family: 'Istok Web', sans-serif;

// UTILITIES

$max-width: pxToRem(1440);
$default-box-shadow: pxToRem(4) pxToRem(4) pxToRem(18.5) rgba(#000, 0.25);

// PLACEHOLDERS SELECTOR

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-column-centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-row-centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

// MEDIA-QUERY

$laptop: 90em; // 1440px
$laptop-medium: 64em; // 1024px
$tablet: 48em; //768px
$mobile-large: 26.563em; //425px
$mobile-medium: 23.438em; //375px
$mobile-small: 20em; //320px
